.wrapper {
  margin-top: 30px;
  padding: 0 30px;
  background-color: rgba(255, 255, 255, 0.78);
  @media (max-width: 640px) {
    padding: 0;
    margin-top: 10px;
  }
}

.listTitle {
  margin-top: 50px;
  margin-bottom: 0;
  color: #666;
  font-size: 30px;
  font-weight: normal;
}

.addViolation {
  display: inline-block;
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  color: white;
  background-color: #a52929;
  border: 1px solid #962424;
  border-radius: 5px;
  opacity: 0.65;
  font-size: 1rem;
  position: relative;
  padding-left: 40px;
  &:before {
    content: '+';
    font-size: 1.5rem;
    position: absolute;
    left: 15px;
    bottom: 1px;
  }
  &:hover,
  &:active {
    opacity: 0.9;
  }
}

.categories li {
  display: inline-block;
  box-sizing: border-box;
  background-color: transparent;
  color: rgba(100, 100, 100, 0.8);
  margin-top: 20px;
  &.item {
    margin-right: 5px;
    padding: 11px 13px 13px 13px;
    min-height: 40px;
    border: 1px solid rgba(100, 100, 100, 0.3);
    border-radius: 5px;
  }
}

.addCategory {
  line-height: 1;
  display: inline-block;
  box-sizing: border-box;
  padding: 11px 13px 13px 13px;
  min-height: 40px;
  border: 1px solid rgba(100, 100, 100, 0.3);
  border-radius: 5px;
  &:before {
    content: '+';
    font-size: 1.5rem;
    margin-right: 8px;
    line-height: 0;
    display: inline-block;
    position: relative;
    top: 3px;
  }
  &:hover,
  &:active {
    background-color: white;
    color: black;
  }
}

.commentsWrapper {
  padding-bottom: 60px;
}
