// todo: refactor into mixin or something
$side-gap: 24px;
$content-width: 680px;

div.wrapper {
  width: $content-width;
  text-align: left;
  max-width: none;
  @media (max-width: ($content-width + 2*$side-gap)) {
    width: 100%;
  }
}

.attachmentWrapper {
  width: 147px;
  margin: 0 0 30px 0;
  position: absolute;
  top: 0;
  right: 0;
  @media (max-width: 640px) {
    position: relative;
    text-align: center;
    width: 100%;
  }
}

.attachment {
  width: 147px;
  height: 127px;
  margin: 0 auto 12px;
}

div.logoRow {
  width: 100%;
  position: relative;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
  :global(div.row) {
    float: left;
    width: calc(100% - 201px);
    box-sizing: border-box;
    @media (max-width: 640px) {
      float: none;
      width: 100%;
    }
  }
}

.error {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 3px;
  color: #9e0b0f;
}

.actions {
  text-align: right;
}
