// todo: refactor into mixin or something
$side-gap: 24px;
$content-width: 600px;

div.wrapper {
  width: $content-width;
  text-align: left;
  max-width: none;
  @media (max-width: ($content-width + 2*$side-gap)) {
    width: 100%;
  }
}

.violations {
  margin-top: 36px;
}

.actions {
  text-align: right;
}
