.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  min-width: 375px;
  box-sizing: border-box;
  padding: 24px;
  @media (max-width: 640px) {
    width: 100%;
    min-width: 100%;
  }
}
