.wrapper {
  background-color: white;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  padding: 1px;
  textarea {
    width: 100%;
    border: none;
    padding: 16px;
  }
}
.progress {
  text-align: right;
  padding-right: 20px;
  opacity: 0.4;
}
