.content {
  margin-top: 16px;
}

.block {
  margin-top: 30px;
  display: inline-block;
  max-width: 330px;
  vertical-align: top;
  padding-right: 20%;
  &:last-of-type {
    padding-right: 0;
  }
  h1 {
    color: #43505a;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0;
    margin: 0 0 30px 0;
  }
}

.rowText {
  margin-left: 3px;
  margin-top: 10px;
}

.success {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 3px;
  color: green;
}
