button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
}
input,textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
select {
  outline: none;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
summary {
  outline: none;
}
summary::-webkit-details-marker {
  display: none;
}
h1 {
  margin: 0;
}

@font-face {
  font-family: 'Lato';
  src:  url("/assets/fonts/Lato-Regular.woff2") format("woff2"),
        url("/assets/fonts/Lato-Regular.woff") format("woff")
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  src:  url("/assets/fonts/Lato-Italic.woff2") format("woff2"),
        url("/assets/fonts/Lato-Italic.woff") format("woff")
}
@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src:  url("/assets/fonts/Lato-Regular.woff2") format("woff2"),
        url("/assets/fonts/Lato-Regular.woff") format("woff")
}
@font-face {
  font-family: 'Lato';
  font-weight: bold;
  src:  url("/assets/fonts/Lato-Bold.woff2") format("woff2"),
        url("/assets/fonts/Lato-Bold.woff") format("woff")
}

html {
  font-size: 16px;
}
body {
  font-family: "Lato";
  color: #43505a;
  line-height: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

p {
  margin: 20px auto;
  font-style: italic;
  line-height: 1.5;
  &:last-child {
    margin-bottom: 0;
  }
}

hr {
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
}

#app {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.container {
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  @media (max-width: 1366px) {
    max-width: none;
    width: 92%;
  }
}

::-webkit-file-upload-button {
  cursor: pointer;
}

q {
  quotes: "“" "”";
}
:lang(uk) q {
  quotes: "«" "»";
}
.standalone-quote {
  position: relative;
  &:before {
    position: absolute;
    right: 100%;
  }
}

div.pattern-content {
  margin-top: -210px;
  padding-top: 210px;
  background: url("/assets/img/pattern-new.png") top;
  padding-bottom: 40px;
  flex-grow: 1;
  @media (max-width: 640px) {
    margin-top: 0;
    padding-top: 0;
    overflow: auto;
    background: none;
  }
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  font-size: 0.75rem;
  font-family: "Lato";
  height: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  padding: 17px;
  color: #b7b7b7;
  &.higher {
    height: 47px;
  }
}
textarea {
  height: 100px;
}

.hint {
  color: #6b6b6b;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

li.row {
  margin-bottom: 0;
  margin-top: 16px;
  &:first-child {
    margin-top: 0;
  }
}

.hidden {
  display: none;
}

.dialog_content {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

div.row {
  display: block;
  text-align: left;
  margin-top: 25px;
  &:first-child {
    margin-top: 0;
  }
}

label.row__label {
  display: block;
  font-size: 16px;
  color: #666;
  margin-left: 3px;
  margin-bottom: 5px;
}

.row__input {
  width: 100%;
}

div.row--error {
  label.row__label {
    color: #9e0b0f;
  }
  input {
    color: #9e0b0f;
    border-color: #9e0b0f;
  }
}

.dialog__button, .page__button {
  display: inline-block;
  height: 40px;
  background-color: #004a80;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
  padding: 11px 15px 15px;
  min-width: 125px;
  line-height: normal;
}

button.dialog__button {
  margin: 30px 0 10px 0;
}

button.page__button {
  margin-top: 10px;
}

aside.dialog__aside {
  width: 100%;
  margin-top: 35px;
  border-top: 1px solid #e1e1e1;
  padding-top: 22px;
  padding-left: 24px;
  margin-left: -24px;
  padding-right: 24px;
}

aside.dialog__aside button, .regularLink {
  color: #004a80;
  font-size: 1rem;
  background-color: transparent;
}

.loyalty-color {
	@media (max-width: 760px) {
		&.loyal {
			color: rgb(110, 157, 58);
		}
		&.disloyal {
			color: rgb(165, 41, 41);
		}
		&.probation {
			color: rgb(247, 149, 33);
		}
	}
}
