.popup {
  position: absolute;
  z-index: 1;
  padding-left: 4px;
  width: 100%;
  box-sizing: border-box
}

.results {
  max-height: 280px;
  background-color: #f5f3f2;
  border-radius: 0 0 5px 5px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden
}

.row {
  height: 70px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.625rem;
  color: #666;
  border-bottom: 1px solid #ccc
}

.row:last-child {
  border-bottom: 0
}

.row:hover {
  background-color: #e1e1e1;
  border-color: #e1e1e1
}
