button {font-family: inherit; font-size: inherit; font-weight: inherit; background-color: transparent; color: inherit;}
body{margin:0;padding:0}
a{text-decoration:none;color:inherit}
ul{list-style:none;padding:0;margin:0}
li{padding:0}
input,textarea{margin:0;padding:0;border:0;outline:none;box-sizing:border-box}
select{outline:none}
button{margin:0;padding:0;border:0;outline:none}
summary{outline:none}



.dialog__h1{text-transform:uppercase;padding:0;margin:26px 0 40px 0;font-size:20px;color:#666}
h1{margin:0}::-webkit-file-upload-button{cursor:pointer}
button.plain{background-color:transparent;color:inherit;font-family:inherit}
.sort-asc:after{content:'';display:inline-block;margin-left:8px;background-image:url(../img/icons-sprite.png);background-position:-92px -75px;width:10px;height:5px}
.sort-desc:after{content:'';display:inline-block;margin-left:8px;background-image:url(../img/icons-sprite.png);background-position:-82px -75px;width:10px;height:5px}
@font-face{font-family:'Lato';src:url("../fonts/Lato-Regular.woff2") format("woff2"),url("../fonts/Lato-Regular.woff") format("woff")}
@font-face{font-family:'Lato';font-style:italic;src:url("../fonts/Lato-Italic.woff2") format("woff2"),url("../fonts/Lato-Italic.woff") format("woff")}
@font-face{font-family:'Lato';font-weight:600;src:url("../fonts/Lato-Regular.woff2") format("woff2"),url("../fonts/Lato-Regular.woff") format("woff")}
@font-face{font-family:'Lato';font-weight:bold;src:url("../fonts/Lato-Bold.woff2") format("woff2"),url("../fonts/Lato-Bold.woff") format("woff")}
html{font-size:16px}
body{font-family:"Lato";color:#43505a;line-height:1}
q{quotes:"“" "”"}
:lang(uk) q{quotes:"«" "»"}
summary::-webkit-details-marker{display:none}
.standalone-quote{position:relative}
.standalone-quote:before{position:absolute;right:100%}
.container{height:100%;max-width:1170px;margin:0 auto;position:relative}
@media (max-width: 1366px){.container{max-width:none;width:92%}}
div.pattern-content{margin-top:-210px;padding-top:210px;background:url("../img/pattern-new.png") top;padding-bottom:40px;flex-grow:1}
@media (max-width: 640px){
  div.pattern-content{margin-top:0;padding-top:0;overflow:auto}
}
@media (max-width: 640px){
  div.pattern-content{background:none}
}
button{cursor:pointer}
.right{float:right}
.clearfix:after,div.row--logo:after,article.company-info:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
p{margin:20px auto;font-style:italic;line-height:1.5}
p:last-child{margin-bottom:0}
hr{margin:0;padding:0;border:0;border-bottom:1px solid #d7d7d7}
input[type="text"],input[type="email"],input[type="password"],textarea{font-size:0.75rem;font-family:"Lato";height:40px;border:1px solid #d7d7d7;border-radius:5px;padding:17px;color:#b7b7b7}
input[type="text"].higher,input[type="email"].higher,input[type="password"].higher,textarea.higher{height:47px}
textarea{height:100px}

div.http{width:100%;height:40px;box-sizing:border-box;position:relative}
div.http:before{content:'http://';width:72px;height:100%;position:absolute;left:0;top:0;background-color:#ebebeb;border-radius:5px 0 0 5px;text-align:center;z-index:1;color:#004a80;font-size:12px;line-height:40px;border:1px solid #d7d7d7;border-right:0;box-sizing:border-box}
div.http.error:before{color:#9e0b0f;background-color:rgba(158,12,16,0.25)}
div.http.error:before,div.http.error input.http{border-color:#9e0b0f}
input.http{width:100%;padding-left:89px}

.notification-message{background-color:#d9edf7;border-color:#98cce7;color:#3a87ad;padding:10px;margin-bottom:20px}
.bottom-space{padding-bottom:100px}
select[multiple]{display:inline-block;font-size:0.75rem;font-family:"Lato";border:1px solid #d7d7d7;border-radius:5px;padding:0;color:#b7b7b7}
select[multiple] option{padding:5px 17px}
a.form-link{color:#004a80}
.hint{color:#6b6b6b;font-family:Lato;font-size:0.625rem;font-weight:400;line-height:1.5;text-align:center}
li.row{margin-bottom:0;margin-top:16px}
li.row:first-child{margin-top:0}
.block{display:block}
.page-content{margin-top:16px}
.page-block{margin-top:30px;display:inline-block;max-width:330px;vertical-align:top;padding-right:20%}
.page-block:last-of-type{padding-right:0}
.page__h1{color:#43505a;font-family:Lato;font-size:1.25rem;font-weight:700;padding:0;margin:0 0 30px 0}
.hidden{display:none}
.site{display:flex;min-height:100vh;flex-direction:column}
div.dialog_content{width:100%;max-width:400px;margin-left:auto;margin-right:auto;}
div.row{display:block;text-align:left;margin-top:25px}
div.row:first-child{margin-top:0}
label.row__label{display:block;font-size:16px;color:#666;margin-left:3px;margin-bottom:5px}
.row-text{margin-left:3px;margin-top:10px}
.row__input{width:100%}
.row--aside{margin-top:8px;position:relative}
.label--small{font-size:0.75rem;margin-left:10px}
.right-link{font-size:0.75rem;position:absolute;bottom:0;right:0;color:#004a80}
.dialog-error{margin-top:40px;margin-bottom:20px;padding-left:3px;color:#9e0b0f}
.dialog-success{margin-top:40px;margin-bottom:20px;padding-left:3px;color:green}
div.row--error label.row__label{color:#9e0b0f}
div.row--error input{color:#9e0b0f;border-color:#9e0b0f}
span.error{color:#9e0b0f}
.dialog__button,.page__button{display:inline-block;height:40px;background-color:#004a80;border-radius:5px;color:white;font-size:15px;text-align:center;box-sizing:border-box;padding:11px 15px 15px;min-width:125px;line-height:normal}
button.dialog__button{margin:30px 0 10px 0}
button.page__button{margin-top:10px}
aside.dialog__aside{width:100%;margin-top:35px;border-top:1px solid #e1e1e1;padding-top:22px;padding-left:24px;margin-left:-24px;padding-right:24px}
aside.dialog__aside button,.regularLink{color:#004a80;font-size:1rem;background-color:transparent;}
div.right-content{text-align:right}

.actions{margin-top:32px}
.actions a, .actions button{margin-bottom:20px;margin-top:0;}
.actions a:last-child{margin-bottom:0}

.company-attachment-h{width:147px;margin:0 0 30px 0;position:absolute;top:0;right:0}
@media (max-width: 640px){.company-attachment-h{position:relative;text-align:center;width:100%}}
.company-attachment{width:147px;display:inline-block;height:127px;border:2px dashed #e1e1e1;box-sizing:border-box;display:inline-block;cursor:pointer;overflow:hidden;position:relative;margin-bottom:12px;text-align:center}
.company-attachment:hover{border-color:#b4b4b4}
.company-attachment:after{content:'';display:inline-block;margin-top:30px;background-image:url(../img/icons-sprite.png);background-position:-82px 0px;width:66px;height:58px}
.company-attachment input[type="file"]{position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;box-sizing:border-box;opacity:0;cursor:pointer}
div.row--logo{width:100%;position:relative}
div.row--logo div.row{float:left;width:calc(100% - 201px);box-sizing:border-box}
@media (max-width: 640px){div.row--logo div.row{float:none;width:100%}}
div.check-row{position:relative}
div.check-row>label{display:inline-block;color:#929292;line-height:1.3;word-wrap:break-word;box-sizing:border-box;width:100%;padding-left:30px}
ul.violations{margin-top:36px}
div.evidance_row{margin-top:10px}
.company-attachment{transition:border-color 0.2s}

.prev-categories-holder{margin-top:24px;display:inline-block;width:50%;vertical-align:top;box-sizing:border-box;padding-right:20px}
.prev-categories-block{margin-top:20px;max-height:364px;overflow-y:auto}
.prev-categories{display:inline-block;vertical-align:top}
.prev-categories li{display:inline-block;margin:0 10px 10px 0;min-height:40px;background-color:#6e9d3a;border-radius:5px;box-sizing:border-box;padding:12px;color:white;font-size:1rem}
.selected-categories-mirror{display:inline-block;vertical-align:top}
.selected-categories-mirror li{display:inline-block;margin:0 10px 10px 0;min-height:40px;border-radius:5px;box-sizing:border-box;padding:12px;font-size:1rem;border:1px solid #e1e1e1;position:relative}
.selected-category-title{display:inline-block;margin-right:22px}
.delete-category{position:absolute;right:11px;top:16px;display:inline-block;cursor:pointer;background-image:url(../img/icons-sprite.png);background-position:-60px -128px;width:11px;height:11px}
.categories-holder{margin-top:24px;display:inline-block;width:50%;vertical-align:top}
.categories{margin-top:20px;max-height:364px;overflow-y:auto;border:1px solid #ebebeb;border-radius:5px}
.categories li{display:block;padding:12px 20px;box-sizing:border-box;font-size:1rem;font-weight:600}

@keyframes pulse{0%{opacity:1}100%{opacity:0}}
.ctnr{display:flex;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,74,128,0.4);z-index:1}
.ldr{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-around;align-items:center;margin:auto;width:2.5em;height:2.5em}
.ldr-blk{height:35%;width:35%;animation:pulse 0.20s ease-in infinite alternate;background-color:rgba(0,30,52,0.4)}
.an_delay{animation-delay:0.20s}

.search-construct{display:block;height:78px;box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2)}
@supports (display: flex){.search-construct{display:flex}}
.search-construct-input{position:relative;height:100%;flex-grow:3;display:inline-block;vertical-align:bottom;width:calc(100% - 91px)}
.search-construct-input input[type="text"]{padding:0 15px;height:100%;width:100%;border-radius:5px 0 0 5px;border:0;font-size:1.25rem}
@supports (display: flex){.search-construct-input{width:auto}}
.search-construct-button{border-radius:0 5px 5px 0;width:91px;background-color:#004a80;display:inline-block;vertical-align:bottom;height:100%}
.search-construct-button:before{content:'';display:inline-block;background-image:url(../img/icons-sprite.png);background-position:-148px -46px;width:43px;height:43px}
.search-construct-button:hover{background-color:#00508a}
.search-construct-button:active{background-color:#00599a}

.js-sm-trigger{box-sizing:border-box;height:40px;border:1px solid #959595;border-radius:5px;text-align:center;color:#666;font-size:0.875rem;padding:12px 15px;cursor:pointer;margin-top:-20px;margin-bottom:40px}
.js-sm-trigger:after{content:'';display:inline-block;vertical-align:middle;margin-left:15px}
.js-sm-trigger.open:after{background-image:url(../img/icons-sprite.png);background-position:-92px -75px;width:10px;height:5px}
.js-sm-trigger.close:after{background-image:url(../img/icons-sprite.png);background-position:-82px -75px;width:10px;height:5px}
.js-sm-trigger.open:before{content:'Згорнути'}
.js-sm-trigger.close:before{content:'Показати'}
@media (max-width: 640px){.js-sm-trigger{margin-top:-10px}}

section.landing{margin-top:-210px;padding-top:210px;padding-bottom:180px;background:url("../img/landing.png") center;background:linear-gradient(transparent, rgba(0,0,0,0.7)),url("../img/landing.png") center;background-size:cover;background-repeat:no-repeat}
@media (max-width: 640px){section.landing{margin-top:0;padding-top:0;overflow:auto}}
@media (max-width: 640px){section.landing{padding-bottom:90px}}

h1.main-header{margin-top:120px;color:white;font-family:Lato;font-size:2.6875rem;line-height:1.2;font-weight:700;text-align:center}
@media (max-width: 1170px){h1.main-header{font-size:2rem}}
@media (max-width: 640px){h1.main-header{margin-top:90px}}

p.info{margin-top:39px;color:white;font-size:1.4375rem;text-align:center;width:70%;font-style:normal}
@media (max-width: 800px){p.info{width:80%}}

div.pattern{background:url("../img/pattern-new.png") top;overflow:auto}
@media (max-width: 640px){div.pattern{background:white}}

section.description{padding-left:309px;min-height:217px}
section.description:before{content:'';display:inline-block;position:absolute;top:0;left:0;background-image:url(../img/landing-sprite.png);background-position:-300px -300px;width:217px;height:217px}
section.search-by-name{padding-right:392px;min-height:300px}
section.search-by-name:before{content:'';display:inline-block;position:absolute;top:0;right:0;background-image:url(../img/landing-sprite.png);background-position:0px -300px;width:300px;height:300px}
section.search-by-category{padding-left:392px;min-height:300px}
section.search-by-category:before{content:'';display:inline-block;position:absolute;top:0;left:0;background-image:url(../img/landing-sprite.png);background-position:-300px 0px;width:300px;height:300px}
section.add-company{padding-right:392px;min-height:300px}
section.add-company:before{content:'';display:inline-block;position:absolute;top:0;right:0;background-image:url(../img/landing-sprite.png);background-position:0px 0px;width:300px;height:300px}
section.description,section.search-by-name,section.search-by-category,section.add-company{max-width:960px;margin:138px auto 10px auto;box-sizing:border-box;position:relative}
@media (max-width: 640px){section.description,section.search-by-name,section.search-by-category,section.add-company{padding:0;margin-top:40px;min-height:auto}section.description:before,section.search-by-name:before,section.search-by-category:before,section.add-company:before{background:none}}
h1.description-title{font-weight:700;font-size:1.5rem;color:#666}
p.description-text{color:#888;font-size:1.125rem;font-weight:400;line-height:1.75;font-style:normal}

ul.comments>li{box-sizing:border-box;border-radius:5px;padding:30px 0}
ul.comments>li:hover{background-color:#e1e1e1}
ul.comments>li:first-child:hover{border-radius:0 0 5px 5px}

ul.new-companies>li{width:168px;margin-top:60px;display:inline-block;margin-right:82px;vertical-align:top}
ul.new-companies>li:last-child{margin-right:0}
@media (max-width: 1170px){ul.new-companies{display:flex;flex-wrap:wrap;justify-content:space-between}ul.new-companies>li{margin-left:10px;margin-right:10px}}
@media (max-width: 480px){ul.new-companies{justify-content:space-around;margin-left:0;margin-right:0}}

.company-wrapper{margin-top:30px;padding:0 30px;background-color:rgba(255,255,255,0.78)}
@media (max-width: 640px){.company-wrapper{padding:0;margin-top:10px}}
.company-profile{padding:30px 0}
@supports (display: flex){article.company-info{display:flex}}
article.company-info>div{float:left;overflow:hidden;box-sizing:border-box}
article.company-info .col-1{width:220px;min-width:220px}
article.company-info .col-2{width:100%;width:calc(100% - 220px);padding:0 3.5%}
@supports (display: flex){article.company-info .col-2{flex-grow:1;width:auto}}
@media (max-width: 640px){article.company-info .col-1{width:180px;min-width:180px}article.company-info .col-2{width:calc(100% - 180px)}@supports (display: flex){article.company-info .col-2{flex-grow:1;width:auto}}}
.company-logo{display:block;box-sizing:border-box;width:100%;background-color:white;border:1px solid #e1e1e1;border-radius:5px;text-align:center}
.company-logo img{max-width:100%;height:auto;padding:2% 19%;box-sizing:border-box}
@media (max-width: 640px){.company-logo img{width:100%;padding:0% 10%}}
div.company-title{box-sizing:border-box;width:100%;text-transform:uppercase;font-size:3.5rem;line-height:1.1;color:#444;word-break:break-word}
@media (max-width: 800px){div.company-title{font-size:3rem}}
@media (max-width: 640px){div.company-title{font-size:2.5rem}}
.company-url{display:block;margin-top:16px;font-size:1rem;font-weight:400;color:rgba(68,68,68,0.8)}
.company-desc{margin-top:20px;font-size:0.875rem;font-weight:400;font-style:normal;white-space:pre-wrap;color:rgba(68,68,68,0.7)}
div.company-violations h2,.company-categories-holder h2{margin-top:50px;margin-bottom:0;color:#666;font-size:30px;font-weight:normal}
ul.company-violations li{display:inline-block;box-sizing:border-box;margin-top:20px;margin-right:5px;padding:11px 13px 13px 13px;position:relative;min-height:40px;background-color:rgba(165,41,41,0.6);border:1px solid rgba(150,36,36,0.3);color:white;border-radius:5px}
ul.company-violations li label{opacity:0.9}
.add-violation{display:inline-block;margin-top:20px;height:40px;line-height:40px;padding:0 15px;color:white;background-color:#a52929;border:1px solid #962424;border-radius:5px;opacity:0.65;font-size:1rem;position:relative;padding-left:40px}
.add-violation:before{content:'+';font-size:1.5rem;position:absolute;left:15px;bottom:1px}
.add-violation:hover,.add-violation:active{opacity:0.9}
.company-categories li{display:inline-block;box-sizing:border-box;background-color:transparent;color:rgba(100,100,100,0.8);margin-top:20px}
.company-categories li.item{margin-right:5px;padding:11px 13px 13px 13px;min-height:40px;border:1px solid rgba(100,100,100,0.3);border-radius:5px}
.company-categories li.add .add-button{line-height:1;display:inline-block;box-sizing:border-box;padding:11px 13px 13px 13px;min-height:40px;border:1px solid rgba(100,100,100,0.3);border-radius:5px}
.company-categories li.add .add-button:before{content:'+';font-size:1.5rem;margin-right:8px;line-height:0;display:inline-block;position:relative;top:3px}
.company-categories li.add .add-button:hover,.company-categories li.add .add-button:active{background-color:white;color:black}
ul.evidances{color:#377398;font-style:italic;font-size:1rem;line-height:1.8;padding-bottom:30px}
.selected-filters-holder{margin-top:18px}
.selected-filters{display:inline-block}
.selected-filters li{display:inline-block}
.selected-filters li.selected-filter-el{margin:10px 10px 0 0;box-sizing:border-box;min-height:31px;background-color:white;border-radius:5px;color:#666;font-size:0.75rem;font-weight:400;padding:10px 24px 10px 10px;position:relative}
.selected-filters li.selected-filter-all{vertical-align:baseline;color:white;font-size:0.75rem;font-weight:400}
.rm-selected-filter{position:absolute;top:12px;right:8px;display:inline-block;background-image:url(../img/icons-sprite.png);background-position:-185px -104px;width:8px;height:9px;cursor:pointer}
.c-loyalty-mark{display:inline-block;box-sizing:border-box;text-align:center;padding:14px 12px 7px 14px;border-radius:3px;color:#fffefe;font-weight:400;margin-top:8px;width:100%;min-height:47px;word-break:break-all;font-size:1.125rem;line-height:1.125rem}
.c-loyalty-mark.loyal{background-color:#6e9d3a}
.c-loyalty-mark.disloyal{background-color:#a52929}
.c-loyalty-mark.probation{background-color:#f79521}

.search-bar{margin-top:49px;background-color:#004a80;border-radius:5px 5px 0 0;box-sizing:border-box;padding:30px}
@media (max-width: 640px){.search-bar{margin-top:15px;margin-bottom:20px;padding:20px}}
.search-body{display:flex}
@media (max-width: 640px){.search-body{flex-wrap:wrap}}
.search-params{display:inline-block;vertical-align:top;width:28%;background-color:#f8f8f8;box-sizing:border-box;padding:30px}
@media (max-width: 640px){.search-params{width:100%;flex-grow:1;background-color:white;padding:0}}
html.details details.search-params{position:relative}
html.details details.search-params summary.search-params-header:after{content:'';position:absolute;top:31px;right:13px;cursor:pointer;background-image:url(../img/icons-sprite.png);background-position:-106px -116px;width:14px;height:9px}
html.details details.search-params[open] summary.search-params-header:after{background-image:url(../img/icons-sprite.png);background-position:-126px -58px;width:14px;height:9px}
.search-params-header{display:none}
@media (max-width: 640px){.search-params-header{box-sizing:border-box;height:65px;background-color:#6e9d3a;border-radius:6px 6px 0 0;color:white;font-size:1.25rem;position:relative;padding-left:15px;padding-right:15px;display:block;padding-top:22px;padding-bottom:22px}.search-params-header:before{content:'';display:inline-block;background-image:url(../img/icons-sprite.png);background-position:-148px -126px;width:22px;height:15px;margin-right:10px}}
@media (max-width: 640px){.search-params-body{border:1px solid #e1e1e1;border-bottom:5px solid #6e9d3a;padding:10px 15px}}
.search-subtitle{margin:25px 0 15px 0;color:#666;font-size:1.375rem;font-weight:600}
.search-subtitle:first-child{margin-top:5px}
@media (max-width: 640px){.search-subtitle{margin-top:15px;margin-bottom:20px}.search-subtitle:first-child{margin-top:15px}}
.search-chk-group{margin-bottom:50px}
@media (max-width: 640px){.search-chk-group{margin-bottom:35px}}
.search-results{background-color:rgba(255,255,255,0.78);box-sizing:border-box;padding:40px 30px;display:inline-block;width:72%;display:flex;flex-grow:1;flex-direction:column}
@media (max-width: 640px){.search-results{width:100%;padding:40px 0}}
.search-results-header{color:#666;font-size:0.75rem;padding-bottom:10px;border-bottom:1px solid #ebebeb;margin-bottom:10px}
.search-results-items{flex-grow:1}
.loyalty-mark{display:inline-block;box-sizing:border-box;min-width:85px;text-align:center;padding:9px 12px 7px 14px;border-radius:3px;color:#fffefe;font-size:0.75rem;font-weight:400}
.loyalty-mark.loyal{background-color:#6e9d3a}
.loyalty-mark.disloyal{background-color:#a52929}
.loyalty-mark.probation{background-color:#f79521}
@media (max-width: 760px){.loyalty-mark{color:transparent;padding:0;min-width:auto;width:12px;height:12px;border-radius:50%}}
@media (max-width: 760px){.loyalty-color.loyal{color:#6e9d3a}.loyalty-color.disloyal{color:#a52929}.loyalty-color.probation{color:#f79521}}
.search-construct--highlight{height:60px}
.search-construct--highlight>button{background-color:#6e9d3a}
.search-construct--highlight>button:hover{background-color:#73a43d}
.search-construct--highlight>button:active{background-color:#7bb041}
.search-construct--highlight .search-construct-button{width:69px}
.search-construct--highlight .search-construct-button:before{content:'';display:inline-block;background-image:url(../img/icons-sprite.png);background-position:-106px -82px;width:34px;height:34px}
.userpic{display:inline-block;width:100px;height:100px;padding:20px 20px 26px 20px;border:3px dashed #e1e1e1;position:relative;margin-bottom:8px}
.userpic:hover{border-color:#b4b4b4}
.userpic input[type="file"]{position:absolute;z-index:1;width:100%;height:100%;box-sizing:border-box;opacity:0;cursor:pointer;top:0;left:0}
.userpic:before{content:'Змінити';position:absolute;left:0;bottom:6px;width:100%;cursor:pointer;text-align:center}
.userpic img{position:absolute}
.fu-error{border-color:rgba(255,0,0,0.5)}
.fu-success{border-color:rgba(0,200,0,0.5)}
.userpic{transition:border-color 0.2s}
.pattern-body{background:url("../img/pattern-new.png") top}
.full-height{box-sizing:border-box;padding:20px 0;text-align:center;margin-top:auto;margin-bottom:auto;}
.http-error-title{color:#43505a;font-size:150px;font-weight:700}
.http-error-expl{margin-top:38px;color:#555;font-size:20px;font-weight:700}
.static-container{background-color:rgba(255,255,255,0.78);box-sizing:border-box;padding:5px 0 75px 0}
.static-restrict{max-width:865px;margin-left:auto;margin-right:auto}
.static-section{margin-top:42px}
.static-section h1{color:#555;font-size:20px;font-weight:700}
.static-section p{color:#555;font-size:14px;font-weight:400;font-style:normal}

ul.pagination{text-align:center;margin-top:36px}ul.pagination>li{display:inline-block;box-sizing:border-box;vertical-align:middle;margin:0 7px;width:28px;height:28px}ul.pagination>li.page{line-height:26px;border:1px solid #b7b7b7;border-radius:5px;color:#999;font-size:16px;font-weight:600}ul.pagination>li.page.active{background-color:#004a80;color:white;border-color:#004a80}ul.pagination>li.prev{margin:0 6px 0 0;background-image:url(../img/icons-sprite.png);background-position:-80px -142px;width:10px;height:16px}ul.pagination>li.next{margin:0 0 0 6px;background-image:url(../img/icons-sprite.png);background-position:-70px -142px;width:10px;height:16px}ul.pagination>li a,ul.pagination>li button{height:100%;width:100%;display:inline-block;display:inline-flex;align-items:center;justify-content:center;background-color:transparent;color:inherit;font-size:inherit;font-family:inherit;font-weight:inherit}
.Select{position:relative}.Select,.Select div,.Select input,.Select span{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.Select.is-disabled>.Select-control{background-color:#f9f9f9}.Select.is-disabled>.Select-control:hover{box-shadow:none}.Select.is-disabled .Select-arrow-zone{cursor:default;pointer-events:none;opacity:.35}.Select-control{background-color:#fff;border-color:#d9d9d9 #ccc #b3b3b3;border-radius:4px;border:1px solid #ccc;color:#333;cursor:default;display:table;border-spacing:0;border-collapse:separate;height:36px;outline:0;overflow:hidden;position:relative;width:100%}.Select-control:hover{box-shadow:0 1px 0 rgba(0,0,0,.06)}.Select-control .Select-input:focus{outline:0}.is-searchable.is-open>.Select-control{cursor:text}.is-open>.Select-control{border-bottom-right-radius:0;border-bottom-left-radius:0;background:#fff;border-color:#b3b3b3 #ccc #d9d9d9}.is-open>.Select-control .Select-arrow{top:-2px;border-color:transparent transparent #999;border-width:0 5px 5px}.is-searchable.is-focused:not(.is-open)>.Select-control{cursor:text}.is-focused:not(.is-open)>.Select-control{border-color:#007eff;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 0 3px rgba(0,126,255,.1)}.Select--single>.Select-control .Select-value,.Select-placeholder{bottom:0;color:#aaa;left:0;line-height:34px;padding-left:10px;padding-right:10px;position:absolute;right:0;top:0;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.has-value.is-clearable.Select--single>.Select-control .Select-value{padding-right:42px}.has-value.Select--single>.Select-control .Select-value .Select-value-label,.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{color:#333}.has-value.Select--single>.Select-control .Select-value a.Select-value-label,.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label{cursor:pointer;text-decoration:none}.has-value.Select--single>.Select-control .Select-value a.Select-value-label:focus,.has-value.Select--single>.Select-control .Select-value a.Select-value-label:hover,.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:focus,.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:hover{color:#007eff;outline:0;text-decoration:underline}.Select-input{height:34px;padding-left:10px;padding-right:10px;vertical-align:middle}.Select-input>input{width:100%;background:none transparent;border:0 none;box-shadow:none;cursor:default;display:inline-block;font-family:inherit;font-size:inherit;margin:0;outline:0;line-height:14px;padding:8px 0 12px;-webkit-appearance:none}.is-focused .Select-input>input{cursor:text}.has-value.is-pseudo-focused .Select-input{opacity:0}.Select-control:not(.is-searchable)>.Select-input{outline:0}.Select-loading-zone{cursor:pointer;display:table-cell;position:relative;text-align:center;vertical-align:middle;width:16px}.Select-loading{-webkit-animation:Select-animation-spin .4s infinite linear;-o-animation:Select-animation-spin .4s infinite linear;animation:Select-animation-spin .4s infinite linear;width:16px;height:16px;box-sizing:border-box;border-radius:50%;border:2px solid #ccc;border-right-color:#333;display:inline-block;position:relative;vertical-align:middle}.Select-clear-zone{-webkit-animation:Select-animation-fadeIn .2s;-o-animation:Select-animation-fadeIn .2s;animation:Select-animation-fadeIn .2s;color:#999;cursor:pointer;display:table-cell;position:relative;text-align:center;vertical-align:middle;width:17px}.Select-clear-zone:hover{color:#D0021B}.Select-clear{display:inline-block;font-size:18px;line-height:1}.Select--multi .Select-clear-zone{width:17px}.Select-arrow-zone{cursor:pointer;display:table-cell;position:relative;text-align:center;vertical-align:middle;width:25px;padding-right:5px}.Select-arrow{border-color:#999 transparent transparent;border-style:solid;border-width:5px 5px 2.5px;display:inline-block;height:0;width:0;position:relative}.Select-arrow-zone:hover>.Select-arrow,.is-open .Select-arrow{border-top-color:#666}.Select--multi .Select-multi-value-wrapper{display:inline-block}.Select .Select-aria-only{display:inline-block;height:1px;width:1px;margin:-1px;clip:rect(0,0,0,0);overflow:hidden;float:left}@-webkit-keyframes Select-animation-fadeIn{from{opacity:0}to{opacity:1}}@keyframes Select-animation-fadeIn{from{opacity:0}to{opacity:1}}.Select-menu-outer{border-bottom-right-radius:4px;border-bottom-left-radius:4px;background-color:#fff;border:1px solid #ccc;border-top-color:#e6e6e6;box-shadow:0 1px 0 rgba(0,0,0,.06);box-sizing:border-box;margin-top:-1px;max-height:200px;position:absolute;top:100%;width:100%;z-index:1;-webkit-overflow-scrolling:touch}.Select-menu{max-height:198px;overflow-y:auto}.Select-option{box-sizing:border-box;background-color:#fff;color:#666;cursor:pointer;display:block;padding:8px 10px}.Select-option:last-child{border-bottom-right-radius:4px;border-bottom-left-radius:4px}.Select-option.is-selected{background-color:#f5faff;background-color:rgba(0,126,255,.04);color:#333}.Select-option.is-focused{background-color:#ebf5ff;background-color:rgba(0,126,255,.08);color:#333}.Select-option.is-disabled{color:#ccc;cursor:default}.Select-noresults{box-sizing:border-box;color:#999;cursor:default;display:block;padding:8px 10px}.Select--multi .Select-input{vertical-align:middle;margin-left:10px;padding:0}.Select--multi.has-value .Select-input{margin-left:5px}.Select--multi .Select-value{background-color:#ebf5ff;background-color:rgba(0,126,255,.08);border-radius:2px;border:1px solid #c2e0ff;border:1px solid rgba(0,126,255,.24);color:#007eff;display:inline-block;font-size:.9em;line-height:1.4;margin-left:5px;margin-top:5px;vertical-align:top}.Select--multi .Select-value-icon,.Select--multi .Select-value-label{display:inline-block;vertical-align:middle}.Select--multi .Select-value-label{border-bottom-right-radius:2px;border-top-right-radius:2px;cursor:default;padding:2px 5px}.Select--multi a.Select-value-label{color:#007eff;cursor:pointer;text-decoration:none}.Select--multi a.Select-value-label:hover{text-decoration:underline}.Select--multi .Select-value-icon{cursor:pointer;border-bottom-left-radius:2px;border-top-left-radius:2px;border-right:1px solid #c2e0ff;border-right:1px solid rgba(0,126,255,.24);padding:1px 5px 3px}.Select--multi .Select-value-icon:focus,.Select--multi .Select-value-icon:hover{background-color:#d8eafd;background-color:rgba(0,113,230,.08);color:#0071e6}.Select--multi .Select-value-icon:active{background-color:#c2e0ff;background-color:rgba(0,126,255,.24)}.Select--multi.is-disabled .Select-value{background-color:#fcfcfc;border:1px solid #e3e3e3;color:#333}.Select--multi.is-disabled .Select-value-icon{cursor:not-allowed;border-right:1px solid #e3e3e3}.Select--multi.is-disabled .Select-value-icon:active,.Select--multi.is-disabled .Select-value-icon:focus,.Select--multi.is-disabled .Select-value-icon:hover{background-color:#fcfcfc}@keyframes Select-animation-spin{to{transform:rotate(1turn)}}@-webkit-keyframes Select-animation-spin{to{-webkit-transform:rotate(1turn)}}

div.row-checkbox {
  position: absolute;
  top: 2px;
  left: 0;
}

body {
  overflow-y: scroll;
}

#app {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.loader-60devs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 100%;
  z-index: 10000;
  opacity: 1;
  transition: opacity 250ms 250ms;
}

.loader-60devs .loader-60devs-progress {
  height: 3px;
  width: 100%;
  background-color: #039be5;
  transition-property: transform, opacity;
  transition-duration: 12s;
  transition-timing-function: cubic-bezier(0.04, 0.9, 0.11, 0.9);
  transform: translateX(-100%);
}

.loader-60devs[data-state="hidden"] {
  display: none;
  transition: none;
}

.loader-60devs[data-state="hidden"] .loader-60devs-progress {
  transition: none;
}

.loader-60devs[data-state="running"]::before {
  content: '';
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader-60devs[data-state="running"] .loader-60devs-progress {
  transform: translateX(0);
}

.loader-60devs[data-state="finishing"] {
  opacity: 0;
}

.loader-60devs[data-state="finishing"] .loader-60devs-progress {
  transform: scaleX(100) translateX(0);
}


.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #004a80;
  color: white;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.6s ease;
  backface-visibility: hidden;
}

.loading-wrapper p.loadingText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-style: normal;
}

.loading-hidden {
  opacity: 0;
  z-index: -1;
}
