body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.content {
  opacity: 0;
  transition: opacity 0.8s ease;
  backface-visibility: hidden;
}

.content.ready {
  opacity: 1;
}

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #004a80;
  color: white;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.6s ease;
  backface-visibility: hidden;
}

.loading-wrapper p.loading-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  margin: 0;
  line-height: 1;
}

.loading-hidden {
  opacity: 0;
  z-index: -1;
}
