section.wrapper {
  margin-top: 70px;
  padding-bottom: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
}

header.header {
  padding-top: 43px;
  color: #666;
  font-weight: 600;
  position: relative;
  &:after {
    content: '';
    display: block;
    clear: both;
    background-color: #e1e1e1;
    height: 3px;
    box-sizing: border-box;
    margin: 17px 3px 0 3px;
  }
  @media (max-width: 640px) {
    padding: 20px 0;
  }
  h1 {
    font-size: 1.5625rem;
    display: inline-block;
    vertical-align: bottom;
    text-transform: uppercase;
  }
  span {
    font-size: 1.5625rem;
    display: inline-block;
    vertical-align: bottom;
    float: right;
  }
}

ul.list {
  &>li {
    box-sizing: border-box;
    padding: 35px 12px;
    margin: 0 3px; 
    &:hover {
      background-color: rgba(225,225,225,0.2);
      border-radius: 5px;    
    }
    &:first-child:hover {
      border-radius: 0 0 5px 5px;
    }
    @media (max-width: 640px) {
      padding: 20px 0;
    }
  }
}
