.wrapper {
  box-sizing: border-box;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  color: #43505a;
  font-size: 150px;
  font-weight: 700;
}

.expl {
  margin-top: 38px;
  color: #555;
  font-size: 20px;
  font-weight: 700;
}
