.wrapper {
  display: flex;
  justify-content: center;
}

.content {
  margin: 40px auto 20px auto;
  width: 328px;
  text-align: center;
  h1 {
    text-transform: uppercase;
    padding: 0;
    margin: 26px 0 40px 0;
    font-size: 20px;
    color: #666;
  }
}