// todo: refactor into mixin or something
$side-gap: 24px;
$content-width: 800px;
$breakpoint: 750px;

div.wrapper {
  width: $content-width;
  text-align: left;
  max-width: none;
  @media (max-width: ($content-width + 2*$side-gap)) {
    width: 100%;
  }
}

.categoriesHolder {
  margin-top: 24px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  @media (max-width: $breakpoint) {
    width: 100%;
  }
}
.categories {
  margin-top: 20px;
  max-height: 364px;
  overflow-y: auto;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  li {
    display: block;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 600;
  }
}

.prevCategoriesHolder {
  margin-top: 24px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
  padding-right: 20px;
  @media (max-width: $breakpoint) {
    width: 100%;
  }
}

.holder {
  @media (max-width: $breakpoint) {
    display: flex;
    flex-direction: column;
  }
}

.prevCategoriesBlock {
  margin-top: 20px;
  max-height: 364px;
  overflow-y: auto;
  @media (max-width: $breakpoint) {
    overflow-y: visible;
    max-height: 100%;
  }
}

.prevCategories {
  display: inline-block;
  vertical-align: top;
  li {
    display: inline-block;
    margin: 0 10px 10px 0;
    min-height: 40px;
    background-color: #6e9d3a;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 12px;
    color: white;
    font-size: 1rem;
  }
}

.newCategories {
  display: inline-block;
  vertical-align: top;
  li {
    display: inline-block;
    margin: 0 10px 10px 0;
    min-height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #e1e1e1;
    position: relative;
  }
}

.newTitle {
  display: inline-block;
  margin-right: 22px;
}

.delete {
  position: absolute;
  right: 11px;
  top: 16px;
  display: inline-block;
  cursor: pointer;
  background-image: url(/assets/img/icons-sprite.png);
  background-position: -60px -128px;
  width: 11px;
  height: 11px;
}

.actions {
  text-align: right;
}
