.sort {
  &:after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    width: 10px;
    height: 5px;
  }
  &.asc:after {
    background-image: url(/assets/img/icons-sprite.png);
    background-position: -92px -75px;
  }
  &.desc:after {
    background-image: url(/assets/img/icons-sprite.png);
    background-position: -82px -75px;
  }
}

.searchWrapper {
  display: flex;
  height: 60px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}
.searchInput {
  position: relative;
  height: 100%;
  flex-grow: 3;
  display: inline-block;
  vertical-align: bottom;
  input[type="text"] {
    padding: 0 15px;
    height: 100%;
    width: 100%;
    border-radius: 5px 0 0 5px;
    border: 0;
    font-size: 1.25rem;
  }
}
.searchButton {
  border-radius: 0 5px 5px 0;
  width: 69px;
  background-color: #6e9d3a;
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
  &:before {
    content: '';
    display: inline-block;
    background-image: url(/assets/img/icons-sprite.png);
    background-position:-106px -82px;
    width: 34px;
    height: 34px;
  }
  &:hover {
    background-color: #73a43d;
  }
  &:active {
    background-color: #7bb041;
  }
}

.selectedFiltersHolder {
  margin-top: 18px;
}

.selectedFilters {
  display: inline-block;
  li {
    display: inline-block;
    &.item {
      margin: 10px 10px 0 0;
      box-sizing: border-box;
      min-height: 31px;
      background-color: white;
      border-radius: 5px;
      color: #666;
      font-size: 0.75rem;
      font-weight: 400;
      padding: 10px 24px 10px 10px;
      position: relative;
    }
    &.all {
      vertical-align: baseline;
      color: white;
      font-size: 0.75rem;
      font-weight: 400;
    }
  }
}
.removeFilter {
  position: absolute;
  top: 12px;
  right: 8px;
  display: inline-block;
  background-image: url(/assets/img/icons-sprite.png);
  background-position: -185px -104px;
  width: 8px;
  height: 9px;
  cursor: pointer;
}

.searchBar {
  margin-top: 49px;
  background-color: #004a80;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  padding: 30px;
  @media (max-width: 640px) {
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 20px;
  }
}

.searchBody {
  display: flex;
  @media (max-width: 640px) {
    flex-wrap: wrap;
  }
}

.searchParams {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  background-color: #f8f8f8;
  box-sizing: border-box;
  padding: 30px;
  @media (max-width: 640px) {
    width: 100%;
    flex-grow: 1;
    background-color: white;
    padding: 0;
  }
}

.searchParamsHeader {
  display: none;
  @media (max-width: 640px) {
    box-sizing: border-box;
    height: 65px;
    background-color: #6e9d3a;
    border-radius: 6px 6px 0 0;
    color: white;
    font-size: 1.25rem;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  &:before {
    @media (max-width: 640px) {
      content: '';
      display: inline-block;
      background-image: url(/assets/img/icons-sprite.png);
      background-position: -148px -126px;
      width: 22px;
      height: 15px;
      margin-right: 10px;
    }
  }
}

.searchParamsBody {
  @media (max-width: 640px) {
    border: 1px solid #e1e1e1;
    border-bottom: 5px solid #6e9d3a;
    padding: 10px 15px;
  }
}

.searchSubtitle {
  margin: 25px 0 15px 0;
  color: #666;
  font-size: 1.375rem;
  font-weight: 600;
  @media (max-width: 640px) {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  &:first-child {
    margin-top: 5px;
    @media (max-width: 640px) {
      margin-top: 15px;
    }
  }
}

.searchGroup {
  margin-bottom: 50px;
  @media (max-width: 640px) {
    margin-bottom: 35px;
  }
}

.searchResults {
  background-color: rgba(255,255,255,0.78);
  box-sizing: border-box;
  padding: 0 30px 40px;
  width: 72%;
  display: flex; 
  flex-grow: 1;
  flex-direction: column;
  @media (max-width: 640px) {
    width: 100%;
    padding: 40px 0;
  }
}

.searchResultsHeaderWrapper {
  padding-top: 40px;
}

.searchResultsHeader {
  color: #666;
  font-size: 0.75rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.searchResultsItems {
  flex-grow: 1;
}
