.searchBar {
  margin-top: 49px;
  background-color: #004a80;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  padding: 30px;
  @media (max-width: 640px) {
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 20px;
  }
}

.searchBody {
  display: flex;
  align-items: flex-start;
  @media (max-width: 640px) {
    flex-wrap: wrap;
  }
}
