.sort {
  &:after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    width: 10px;
    height: 5px;
  }
  &.asc:after {
    background-image: url(/assets/img/icons-sprite.png);
    background-position: -92px -75px;
  }
  &.desc:after {
    background-image: url(/assets/img/icons-sprite.png);
    background-position: -82px -75px;
  }
}

.sortWrapper {
  float: right;
}

.searchWrapper {
  display: flex;
  height: 60px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}
.searchInput {
  position: relative;
  height: 100%;
  flex-grow: 3;
  display: inline-block;
  vertical-align: bottom;
  input[type="text"] {
    padding: 0 15px;
    height: 100%;
    width: 100%;
    border-radius: 5px 0 0 5px;
    border: 0;
    font-size: 1.25rem;
  }
}
.searchButton {
  border-radius: 0 5px 5px 0;
  width: 69px;
  background-color: #6e9d3a;
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
  &:before {
    content: '';
    display: inline-block;
    background-image: url(/assets/img/icons-sprite.png);
    background-position:-106px -82px;
    width: 34px;
    height: 34px;
  }
  &:hover {
    background-color: #73a43d;
  }
  &:active {
    background-color: #7bb041;
  }
}

.selectedFiltersHolder {
  margin-top: 18px;
}

.selectedFilters {
  display: inline-block;
  li {
    display: inline-block;
    &.item {
      margin: 10px 10px 0 0;
      box-sizing: border-box;
      min-height: 31px;
      background-color: white;
      border-radius: 5px;
      color: #666;
      font-size: 0.75rem;
      font-weight: 400;
      padding: 10px 24px 10px 10px;
      position: relative;
    }
    &.all {
      vertical-align: baseline;
      color: white;
      font-size: 0.75rem;
      font-weight: 400;
    }
  }
}
.removeFilter {
  position: absolute;
  top: 12px;
  right: 8px;
  display: inline-block;
  background-image: url(/assets/img/icons-sprite.png);
  background-position: -185px -104px;
  width: 8px;
  height: 9px;
  cursor: pointer;
}
