// todo: refactor into mixin or something
$side-gap: 24px;
$content-width: 327px;

div.wrapper {
  width: $content-width;
  max-width: none;
  text-align: center;
  @media (max-width: ($content-width + 2*$side-gap)) {
    width: 100%;
  }
}

.error {
  color: #9e0b0f;
  padding: 10px;
  margin-bottom: 20px;
}
