// todo: refactor into mixin or something
$side-gap: 24px;
$content-width: 328px;

div.wrapper {
  width: $content-width;
  max-width: none;
  @media (max-width: ($content-width + 2*$side-gap)) {
    width: 100%;
  }
}
