.list {
  margin-top: 18px;
  display: inline-block;
  li {
    display: inline-block;
    &.item {
      margin: 10px 10px 0 0;
      box-sizing: border-box;
      min-height: 31px;
      background-color: white;
      border-radius: 5px;
      color: #666;
      font-size: 0.75rem;
      font-weight: 400;
      padding: 10px 24px 10px 10px;
      position: relative;
    }
    &.all {
      vertical-align: baseline;
      color: white;
      font-size: 0.75rem;
      font-weight: 400;
    }
  }
}

.remove {
  position: absolute;
  top: 12px;
  right: 8px;
  display: inline-block;
  background-image: url(/assets/img/icons-sprite.png);
  background-position: -185px -104px;
  width: 8px;
  height: 9px;
  cursor: pointer;
}
