$menu-height: 70px;

.hero {
  margin-top: -2 * $menu-height;
  padding-top: 2 * $menu-height;
  padding-bottom: 180px;
  background: url('/assets/img/landing.png') center;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)),
    url('/assets/img/landing.png') center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  min-height: 100vh;
  @media (max-width: 640px) {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 90px;
  }
}

.bannerHeader {
  margin-top: 120px;
  color: white;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  @media (max-width: 1010px) {
    font-size: 2rem;
  }
  @media (max-width: 640px) {
    margin-top: 90px;
  }
}

.info {
  margin-top: 39px;
  color: white;
  font-size: 1.25rem;
  text-align: center;
  width: 70%;
  font-style: normal;
  @media (max-width: 800px) {
    width: 80%;
  }
}

.pattern {
  background: url('/assets/img/pattern-new.png') top;
  overflow: auto;
  padding-bottom: 100px;
  @media (max-width: 640px) {
    background: white;
  }
}

.description {
  padding-left: 309px;
  min-height: 217px;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/assets/img/landing-sprite.png);
    background-position: -300px -300px;
    width: 217px;
    height: 217px;
  }
}

.nameSearch {
  padding-right: 352px;
  min-height: 300px;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(/assets/img/landing-sprite.png);
    background-position: 0px -300px;
    width: 300px;
    height: 300px;
  }
}

.categorySearch {
  padding-left: 352px;
  min-height: 300px;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/assets/img/landing-sprite.png);
    background-position: -300px 0px;
    width: 300px;
    height: 300px;
  }
}

.addCompany {
  padding-right: 352px;
  min-height: 300px;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(/assets/img/landing-sprite.png);
    background-position: 0px 0px;
    width: 300px;
    height: 300px;
  }
}

.description,
.nameSearch,
.categorySearch,
.addCompany {
  max-width: 800px;
  margin: 138px auto 10px auto;
  box-sizing: border-box;
  position: relative;
  @media (max-width: 640px) {
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
    min-height: auto;
    &:before {
      background-image: none;
      background-position: 0;
    }
  }
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #666;
}

.text {
  color: #888;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75;
  font-style: normal;
}
